@import (reference) "./colors";

//
// BASE MIXINS
//

._punctuation { color: @punctuation; }
._operator { color: @operator; }
._keyword {
    color: @keyword;
}

._keyword-control { color: @keyword-control; }
._delimiter { color: @delimiter; }
._variable { color: @variable; }
._class { color: @class; }
._quote { color: @quote; }
._string { color: @string; }
._regexp { color: @regexp; }
._support { color: @support; }
._support-type { color: @support-type; }
._support-function {
}
.syntax--_function { color: @function }
._function-call {
    border-bottom: 1px dotted fade(@function, 50%);
    border-radius: 0 0 2px 2px;
}
._entity { color: @entity; }
._constant { color: @constant; }
._language-constant { color: @variable; }
._storage { color: @storage; }

._terminator {
    color       : @terminator;
    font-weight : bold;
}

._brace, ._bracket {
    color       : @brace;
    font-weight : bold;

    /* // Brace padding

    padding     : 0 0.075em;

    .leading-whitespace:last-child {
        //margin-left: -0.075em;
    }

    */
}

._brace-curly {
    ._brace;
    //padding: 0;
}

// Parameters are styled with underscoring accents
._param {
    border-bottom: 2px solid fade(@brace, 25%);
}
._params-open {
    // padding-right: 0.2em;
    border-radius: 0 0 2px 5px;
    ._param;
}

._params-close {
    // padding-left: 0.2em;
    border-radius: 0 0 5px 2px;
    ._param;

}

._noise {
    color: @punctuation;
}

//
// Whitespace
//

.leading-whitespace {
    color: @whitespace-leading;
}


//
// Comments
//

.syntax--comment {
    color            : @comment !important;

    .syntax--storage, .syntax--keyword {
        color: @comment-storage !important;
    }
}


//
// Punctuation
//

.syntax--punctuation { ._punctuation; }

//
// Delimiters
//

.syntax--meta.syntax--delimiter { ._delimiter; }

//
// Operators, control keywords
//

.syntax--keyword.syntax--reserved,
.syntax--keyword.syntax--control { ._keyword; }

.syntax--punctuation.syntax--separator.syntax--key-value,
.syntax--keyword.syntax--operator,
.syntax--keyword.syntax--other { ._operator; }

//
// Terminators
//

.syntax--punctuation.syntax--terminator { ._terminator; }


//
// Braces, Brackets, Quotes
//

.syntax--meta.syntax--brace,
.syntax--meta.syntax--bracket {
    ._brace;
}

.syntax--meta.syntax--group.syntax--braces {
    & > .syntax--meta.syntax--brace {
        ._brace;
    }
}

.syntax--meta.syntax--brace.syntax--curly {
    ._brace-curly;
}


//
// Parameters
//

.syntax--punctuation.syntax--definition.syntax--parameters.syntax--begin,
.syntax--punctuation.syntax--definition.syntax--arguments.syntax--begin {
    ._brace;
    ._params-open;
}

.syntax--punctuation.syntax--definition.syntax--parameters.syntax--end,
.syntax--punctuation.syntax--definition.syntax--arguments.syntax--end {
    ._brace;
    ._params-close;
}


//
// Strings
//

.syntax--punctuation.syntax--definition.syntax--string { ._quote; }
.syntax--string { ._string; }
.syntax--unquoted {color: @fore;}
.syntax--constant.syntax--numeric { color: @yellow; }

.syntax--string.syntax--regexp {
    ._regexp;
}


//
// Storage, Variables
//

.syntax--variable.syntax--language {
    ._variable;
}


.syntax--support.syntax--type {
    ._support-type;
}

.syntax--storage.syntax--type,
.syntax--storage.syntax--modifier {
    ._storage;
}


//
// Constants
//

.syntax--constant {
    ._constant;
}

.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--other.syntax--inherited-class,
.syntax--variable.syntax--class,
.syntax--entity.syntax--type.syntax--new,
.syntax--support.syntax--class {
    ._class;
}

.syntax--constant.syntax--language {
    ._language-constant;
    font-style: italic;
}

//
// Entities
//

.syntax--entity.syntax--instance,
.syntax--entity.syntax--other,
.syntax--entity.syntax--type { ._entity; }


//
// Functions
//

.syntax--meta.syntax--function-call,
.syntax--meta.syntax--method-call {
    > .syntax--entity.syntax--function,
    > .syntax--support.syntax--function { ._function-call; }
}

.syntax--class.syntax--constructor > .syntax--entity.syntax--instance {
    ._function-call;
}

.syntax--support { ._support; }

.syntax--entity.syntax--function,
.syntax--support.syntax--function { .syntax--_function; }
.syntax--support.syntax--function { ._support-function; }
